.itemBoard {
  display: flex;
  margin: 10px 0;
}

.unchecked {
  list-style: none;
  margin-right: 5px;
}

button {
  margin-left: 5px;
}

.checked {
  color: gray;
  text-decoration: line-through;
  list-style: none;
  margin-right: 5px;
}
